.hero{
    width: 100vw;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.hero .headphone{
    width: 212px;
    height: 212px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}