.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    background: #34C94B;
    padding-right: 32px;
}

.navbar .logo{
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}